@charset "UTF-8";

.empty-animation{
    animation-name: zoomInStable; 
    animation-duration: 3s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.empty-animation{
    animation-name: slideInUp; 
    animation-duration: 2s; 
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.empty-animation{
    animation-name: slideInRight; 
    animation-duration: 2s; 
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.empty-animation{
    animation-name: slideInLeft; 
    animation-duration: 2s; 
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.empty-animation{
    animation-name: slideInDown;
    animation-duration: 2s; 
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes rotate-me {
     0% {
        transform: rotate(0deg);
        opacity: 1;
      }
    50% {
        transform: rotate(180deg);
      }
    100% {
        transform: rotate(360deg);
        opacity: 1;
      }
}

.footer-style-three .icon-layer-one,
.admission-section .pattern-layer-one,
.testimonial-section-five .pattern-layer-one,
.testimonial-section-five .pattern-layer-three,
.testimonial-section-four .inner-container .circle-pattern-layer-one,
.feature-section-three .pattern-layer-one,
.mission-section .pattern-layer-three,
.banner-section-five .icon-layer-four,
.about-section .pattern-layer-two{
    animation-name: rotateme; 
    animation-duration: 15s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* Bob Up Down*/
@keyframes float-up-down {
  0%, 100% {
    transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
  50% {
    transform: translateY(30px);
    transform: translateY(30px);
    opacity: 1;
  }
}

.footer-style-three .icon-layer-three,
.courses-section-four .pattern-layer-two,
.study-section .pattern-layer-one,
.testimonial-section-four .inner-container .circle-pattern-layer-two,
.event-section-two .icon-layer-one,
.event-section-two .icon-layer-two,
.footer-style-three .icon-layer-five,
.footer-style-three .icon-layer-four,
.study-section .image-column .hotline,
.testimonial-section-five .pattern-layer-four,
.program-section .pattern-layer-four{
    animation-name: float_up_down; 
    animation-duration: 5s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/* Bob */
@keyframes float-left-right {
  0%, 100% {
    transform: translateX(-100px);
    opacity: 1;
  }
  50% {
    transform: translateX(100px);
    opacity: 0.40;
  }
}

.feature-section-three .pattern-layer-two{
    animation-name: float-left-right;
    animation-duration: 30s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes float-left-right-two {
  0%, 100% {
    transform: translateX(-30px);
    opacity: 1;
  }
  50% {
    transform: translateX(0px);
    opacity: 0.80;
  }
}

.courses-section-four .pattern-layer-one,
.program-section .pattern-layer-five{
    animation-name: float-left-right-two;
    animation-duration: 5s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes zoom-fade {
  0%, 100% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
}

.admission-section .color-circle,
.feature-section-three .pattern-layer-four,
.program-section .pattern-layer-three{
    animation-name: zoom-fade; 
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
