/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: var(--bs-body-color) !important;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 0;
  z-index: 10;
  color: var(--bs-body-color) !important;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 34rem ;
  margin-bottom: 0;
}

/* Gold icon */
svg.gold {
  color: #FFCB4C !important;
  height: 1.5rem !important;
  width: 1.5rem !important;
}

/* Reviews */
h2.title-review,
p.body-review {
  font-size: clamp(var(--minimum), var(--value), var(--maximum)) !important;
}

h2.title-review {
  --minimum: 1.75em;
  --value: 5vw;
  --maximum: 2.5em;
  font-family: Urbanist, sans-serif;
  font-weight: bold;
}
p.body-review {
  --minimum: 1em;
  --value: 2.5vw;
  --maximum: 1.4em;
  font-family: Urbanist, sans-serif;
}

.svg-review-container {
  --minimum: 200px;
  --value: 5vw;
  --maximum: 350px;
  max-height: clamp(var(--minimum), var(--value), var(--maximum)) !important;
  justify-content: center !important;
  align-content: center !important;
  display: inline-block !important;
  margin: auto !important;
}

/* Next and Previous buttons */
.carousel-button {
  color: var(--bs-dark-text-emphasis) !important;
}
.carousel-bottom-button {
  background-color: var(--bs-primary-text-emphasis) !important;
}

