/* Spanish icon */
.esp-cls-1{fill:#3caea3;}
.esp-cls-2{fill:#ed553b;}
.esp-cls-3{fill:#173f5f;}
.esp-cls-4{font-size:253.19px;fill:#fff;font-family:CooperBlack, Cooper Black, sans-serif;}
.esp-cls-5{letter-spacing:-0.01em;}
.esp-cls-6{letter-spacing:0;}
.esp-cls-7{letter-spacing:-0.01em;}
.esp-cls-8{letter-spacing:-0.05em;}
.esp-cls-9{fill:#ff1500;}
.esp-cls-10{fill:#ffd629;}

/* Catalan icon */
.cat-cls-1{fill:#50b585;}
.cat-cls-2{fill:#f49037;}
.cat-cls-3{fill:#2c4144;}
.cat-cls-4{fill:#ffdd0c;}
.cat-cls-5{fill:#e41f29;}
.cat-cls-6{font-size:252.31px;fill:#fff;font-family:CooperBlack, Cooper Black, sans-serif;}
.cat-cls-7{letter-spacing:-0.01em;}
.cat-cls-8{letter-spacing:0;}
.cat-cls-9{letter-spacing:-0.01em;}
.cat-cls-10{letter-spacing:-0.05em;}
