@charset "utf-8";

/** Fonts **/
h1, h2, h3, h4, h5, h6 {
    font-family: Geist, sans-serif;
    font-weight: bold;
}
body, p, span, a {
    font-family: Urbanist, sans-serif;
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
    z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
}

/* Contact buttons */
a.whatsapp {
    background-color: #25d366;
    color: white;
    font-weight: bold;
    border: 1px solid #25d366;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
}
a.whatsapp:hover {
    background-color: #128c7e;
    color: white;
    border: 1px solid #128c7e;
}
a.whatsapp:focus {
    background-color: #075e54;
    color: white;
    border: 1px solid #075e54;
}
a.email {
    background-color: #0078d4;
    color: white;
    font-weight: bold;
    border: 1px solid #0078d4;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
}
a.email:hover {
    background-color: #034fa0;
    color: white;
    border: 1px solid #034fa0;
}
a.email:focus {
    background-color: #0f3464;
    color: white;
    border: 1px solid #0f3464;
}
a.phone {
    background-color: #ff9a00;
    color: white;
    font-weight: bold;
    border: 1px solid #ff9a00;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
}
a.phone:hover {
    background-color: #ff7400;
    color: white;
    border: 1px solid #ff7400;
}
a.phone:focus {
    background-color: #ff4d00;
    color: white;
    border: 1px solid #ff4d00;
}

 /* button light/dark mode */
.button-switch-dark-light-mode {
    background-color: var(--bd-violet-bg) !important;
    color: white !important;
    border: 1px solid var(--bd-violet-bg) !important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
}
.button-switch-dark-light-mode:hover {
    background-color: var(--bs-btn-active-bg)  !important;
    color: white !important;
    border: 1px solid var(--bs-btn-active-bg)  !important;
}
.button-switch-dark-light-mode:active {
    background-color: var(--bs-btn-active-bg) !important;
    color: white !important;
    border: 1px solid var(--bs-btn-active-bg)  !important;
}


